{% extends "layout.html" %}
{% block title %}Puntos de encuentro{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Puntos de encuentro</h1>
  <a href="{{ url_for('home') }}" class="link">Volver</a>
  {% if has_permission('punto_encuentro_new') %}
    <a href="{{ url_for('punto_encuentro_new') }}" class="link">Nuevo punto de encuentro</a>
  {% endif %}
  <form action="{{ url_for('punto_encuentro_search', name=name, active=active, inactive=inactive) }}" method="GET"> 
    <input type="text" name="name">
    <input type="radio" name="active" value="activo"> <label> Activo</label>
    <input type="radio" name="active" value="inactivo"> <label> Inactivo</label>
    <p>
      <input type="submit" value="Buscar">
    </p>
  </form>

<!-- previous page -->
  {% if puntos_encuentro.has_prev %}
    {% if filter == 1 %}
    <li>
      <a href="{{ url_for('punto_encuentro_search', page=puntos_encuentro.prev_num, name=parameters['name'], active =parameters['active'] ) }}">Previous_Busqueda</a>
    </li>
    {% else %}
    <li>
      <a href="{{ url_for('punto_encuentro_index', page=puntos_encuentro.prev_num) }}">Previous</a>
    </li>
    {% endif%}

  {% endif %}


<!-- next page -->
{% if puntos_encuentro.has_next %}
    {% if filter == 1 %}
    <li>
      <a href="{{ url_for('punto_encuentro_search', page=puntos_encuentro.next_num, name=parameters['name'], active =parameters['active']) }}">Next_Busqueda</a>
    </li>
    {% else %}
    <li>
      <a href="{{ url_for('punto_encuentro_index', page=puntos_encuentro.next_num) }}">Next</a>
    </li>
    {% endif%}

  {% endif %}


  <table class="table table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for punto in puntos_encuentro.items %}
      <tr>
        <td><a href="{{ url_for('punto_encuentro_show', name=punto.name) }}"> {{ punto.name }} </a></td>
        <td> {{ punto.address }} </td>
        <td> {{ punto.email }} </td>
        <td> {% if punto.state %}
            Publicado
             {% else %}
            Despublicado
             {% endif %}
        </td>
        <td>
          <div class="row">
            {% if has_permission('punto_encuentro_update') %}
              <form action="{{ url_for('punto_encuentro_edit') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input name="id" type="hidden" value="{{ punto.id }}">
                <button class="btn btn-sm btn-info" type="submit" > Editar <span class="material-icons">&#xE150;</span> </button> 
              </form>
            {% endif %}
            {% if has_permission("punto_encuentro_destroy") %}
              <form action="{{ url_for(('punto_encuentro_soft_delete')) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input name="id"  type="hidden" value="{{ punto.id }}"> 
                {% if punto.state %}
                  <div class="column mx-1">
                    <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('Está seguro que desea despublicar este punto de encuentro?');"> Despublicar <i class="glyphicon glyphicon-trash" display="table-cell"></i></button> 
                  </div>
                  {% else %}
                    <div class="column mx-1">
                      <button class="btn btn-sm btn-success" type="submit" onclick="return confirm('Está seguro que desea publicar este punto de encuentro?');"> Publicar <i class="glyphicon glyphicon-list-alt" display="table-cell"></i></button>               
                    </div>
                  {% endif %}
              </form>
            {% endif %}
          </div>
        </td>
      {% endfor %}
      </tr>
    </tbody>
  </table>
  
  
  {% endblock %}