{% extends "layout.html" %}
{% block title %}Puntos de encuentro{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Crear un punto de encuentro</h1>
  <form action="{{ url_for('punto_encuentro_create') }}" method="POST">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <div class="warning">Token CSRF invalido</div>
    {% endif %}
    <p>
      <p>
        {{form.name.label}}
        {{ form.name }}
      </p>
      <p>
        {{form.address.label}}
        {{ form.address }}
      </p>
      <p>
        {{form.tel.label}}
        {{ form.tel }}
      </p>
      <p>
        {{form.email.label}}
        {{ form.email }}
      </p>
      <p>
        {{form.coords.label}}
        {{ form.coords }}
      </p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
      <a href="{{ url_for('punto_encuentro_index') }}" class="link">Volver</a>
    </p>
  </form>
{% endblock %}
