{% extends "layout.html" %}
{% block title %}Puntos de encuentro{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

 <script type="module" src="{{ url_for('static', filename='js/show.js')}}"></script>
{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center">
  <h1>Detalle</h1>
</div>
<div class="row justify-content-center align-items-center"> 
  <div class="row justify-content-center align-items-center h-100">
    <div class="col align-items-center" >
        <p>Nombre: {{ pto.name }}</p>
        <p>Dirección: {{ pto.address }}</p>
        <p>Ubicación en el mapa:</p>
        <hidden id="lat" value="{{pto.lat}}"></hidden>
        <hidden id="long" value="{{pto.long}}"></hidden>
        <div class="form-group">
          <div class="map-container">
            <div id="mapid" class="float-end"></div>
          </div>
        </div>        
        {% if pto.state %}
            <p>Estado: publicado</p>
        {% else %}
            <p>Estado: despublicado</p>
        {% endif %}
        <p>Teléfono: {{ pto.tel }}</p>
        <p>Email: {{ pto.email }}</p>
        <br>
        <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col">
                <a href="{{ url_for('punto_encuentro_index') }}" class="col-6 btn btn-primary btn-sm float-left">Volver</a>
    
              </div>
              <div class="col">

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
