{% extends "layout.html" %}
{% block title %}Configuracion del sistema{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Configuracion del sistema</h1>
<form action="{{ url_for('configuration_confirm_update') }}" method="POST">
{{form.csrf_token}}
  Cantidad de elementos por página:  
{{form.elements_per_page}}
<br>
Ordenamiento:
{{form.ordered_by}}
<br>
Paleta de colores app privada: 
{{form.css_private}}
<br>
Paleta de colores app pública
{{form.css_public}}
<p>
  <input type="submit" value="Guardar">
</p>
</form>
<a href="{{ url_for('home') }}" class="link">Volver</a>
</form>

{% endblock %}