{% extends "layout.html" %}
{% block title %}Configuracion del sistema{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="row justify-content-center align-items-center">
  <h1>Configuracion del sistema</h1>
</div>
<br>

<div class="row justify-content-center align-items-center"> 
  <div class="row justify-content-center align-items-center h-100">
    
      <form action="{{ url_for('configuration_confirm_update') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="col align-items-center" >
          {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors%}
              <p class="col align-items-center">{{error}}</p>
            {% endfor %}
        <div class="form-group">
          <p>{{field.label}} {{field(class="form-control")}} </p>
        </div>
          {% endfor %}
        </div>
        <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col">
                <input class="btn btn-primary btn-sm float-left" type="submit" value="Guardar">
              </div>
              <div class="col">
                <a href="{{ url_for('home') }}" class="btn btn-secondary btn-sm float-right">Volver</a>
              </div>
            </div>
          </div>
        </div>
      </form>
  
  </div>
</div>
<br>
{% endblock %}