:root {
  --primary: #77A6F7;
  --secondary: #FFFFFF;
  --success: #47547b;
  --danger: #D3E2FC;
  --info: #0B0C10;
}

body {
  background-color: var(--secondary) !important;
  color: var(--success);
}

.navcolor{
  background-color: var(--primary) !important;
}


a {
  color: var(--success);
  font-weight: bolder;
}

a:hover {
  color: var(--info);
}

a.link {
  background-color: var(--danger) !important;
  color: var(--primary) !important;
}

h4 {
  color: var(--secondary);
}

table.table> tbody > tr> td,
table{
color:var(--info);
font-size: 16px;
background-color: var(--danger);
border-color: var(--danger);
}

table.table-sm> thead > tr > th {
color:var(--secondary);
font-weight: bolder;
font-size: 16px;
background-color: var(--primary);
border-color: var(--primary);
}
