@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
body {
  background-color: #d4e0ec !important;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 18px;
}

.logo {
    max-width: 170px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}

a {
  color: #212529;
}

a:hover {
  color: #92a4ad;
}

button a {
  color: #dee6eb !important;

}

a.link {
  text-transform: uppercase;
  font-size: 14px;
  background-color: #92a4ad !important;
  padding: 10px 15px;
  border-radius: 0;
  color: #dee6eb !important;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

ul, li {
    list-style-type: none;
}

h4 {
  font-size: 15px;
  color: aliceblue;
}

.material-icons { 
  font-size: 19px;
  padding: 0%;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.required:after {
  content:" *";
  color: red;
}

#coords-button{
  margin-bottom: 10px;
}