@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
body {
  background-color: #d4e0ec !important;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 18px;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo {
    max-width: 170px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.navbar {
  padding: 0.25rem 0.25rem;
}
.checkbtn i {
  visibility: hidden;
}

#check {
  display: none;
}

.checkbtn {
  cursor: pointer;
}

/*
nav, nav ul, nav ul li, nav ul li {
  background: rgb(192, 206, 223);
  background-image: linear-gradient(to right, rgba(247, 238, 201, 0.226), rgb(203, 207, 231));
  color: aliceblue;
}
*/
header nav ul li a {
  background: transparent;
}

header nav {
  /*
  padding: 1% 1%;
  */
  border-bottom: rgb(162, 177, 190) solid 2px;
  max-height: 70px;
  
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  column-gap: 3%;
}

header nav ul li {
  display: inline-block; 
  text-align: center;
  background: transparent;
}

header {
  position: sticky;
  top: 0%;
  box-shadow: 0px 7px 15px #888888;
}

div.active {
  min-width: 170px;
}

.col-sm-auto, 
form .col.align-items-center,
.col.align-items-center {
  z-index: -1;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}

a {
  color: #212529;
}

a:hover {
  color: #92a4ad;
}

button a {
  color: #dee6eb !important;

}

a.link {
  text-transform: uppercase;
  font-size: 14px;
  background-color: #92a4ad !important;
  padding: 10px 15px;
  border-radius: 0;
  color: #dee6eb !important;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

ul, li {
    list-style-type: none;
}

h4 {
  font-size: 15px;
  color: aliceblue;
}

.material-icons { 
  font-size: 19px;
  padding: 0%;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.required:after {
  content:" *";
  color: red;
}

#coords-button{
  margin-bottom: 10px;
}

.align-right {
  text-align: -webkit-right;
}

.align-right a{
  font-weight: bold;
}

.align-center {
  text-align: center;
}

ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Save changes"] {
    display: none;
}

figure {
  margin: 0%;
}

/* Media queries */ 

@media screen and
(max-width: 768px) {
    /* propiedades comunes en la pagina */
    
    /* header */

    .title {
        height: 10%;
    }

    /* barra de navegacion oculta */

    nav {
        padding: 0%;
        border-bottom: hidden;
    }

    .checkbtn {
      padding: 10%;
    }

    .checkbtn i{
        visibility: visible;
    }

    nav ul {
        align-content: stretch;
        /*
        height: 67%;
        position: fixed;
        */
        width: 100%;
        left: -100%;
        top: 20%;
        text-align: center;
        padding: 0%;
        transition: all .5s;
        position: absolute;
        z-index: 10;
        
    }

    nav ul li {
        width: 100%;
    }

    
    nav ul li a {
        font-size: 2rem;
    }

    .title {
        position: sticky;
        top: 0%;
    }
    
    #check:checked ~ ul{
        left: 0%;
        top: 80%;
        transition: all .5s;

    }
}

@media screen and (max-width:360px) {
    
    /* header */
    /* barra de navegacion oculta */

    .title .logo {
        visibility: hidden;
    }

    /* header */

    .checkbtn {
        visibility: visible;
    }
    
    nav ul li a {
        font-size: 1.5rem;
    }
    
    .contenedor .item-img,
    .contenedor .item-parrafo {
        width: 100%;
        max-width: none;
    }

    .products-index .item,
    .products .item {
        width: 100%;
    }

    .signup {
        flex-wrap: wrap;
    }

    .form-signin, .form-signup {
        width: 95%;
    }

    .form-signin {
        border-radius: 0px 0px 10px 10px;
    }

    .form-signup {
        border-radius: 10px 10px 0px 0px;
    }

    .hidden {
        display: none;
    }
}