{% extends "layout.html" %}
{% block title %}Puntos de encuentro{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

 <script type="module" src="{{ url_for('static', filename='js/denuncias/new/edit.js')}}"></script>
{% endblock %}
{% block content %}
  <h1>Editar denuncia</h1>
  <form action="{{ url_for('denuncia_update', id=denuncia.id) }}" method="POST" id="edit-denuncia">
    <div class="container">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {% include 'denuncias/form.html' %}
    </div>
  </form>
{% endblock %}