{% extends "layout.html" %}
{% block title %}Puntos de encuentro{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

 <script type="module" src="{{ url_for('static', filename='js/denuncias/new/edit.js')}}"></script>
{% endblock %}
{% block content %}
  <h1>Editar denuncia</h1>
  <form action="{{ url_for('denuncia_update', id=denuncia.id) }}" method="POST" id="edit-denuncia">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <p>
      <p>
        {{form.title.label}}*
        {{ form.title }}
      </p>
      {% for error in form.title.errors%}
      <p>{{error}}</p>
      {% endfor %}
      <p>
        {{form.category.label}}
        {{ form.category }}
      </p>
      {% for error in form.category.errors%}
      <p>{{error}}</p>
      {% endfor %}
      <p>
        {{form.description.label}}*
        {{ form.description }}
      </p>
      {% for error in form.description.errors%}
      <p>{{error}}</p>
      {% endfor %}
      <p>
        {{form.firstname.label}}*
        {{ form.firstname }}
      </p>
      {% for error in form.firstname.errors%}
      <p>{{error}}</p>
      {% endfor %}
      <p>
        {{form.lastname.label}}*
        {{ form.lastname }}
      </p>
      {% for error in form.lastname.errors%}
      <p>{{error}}</p>
      {% endfor %}
      <p>
        {{form.tel.label}}*
        {{ form.tel }}
      </p>
      {% for error in form.tel.errors%}
      <p>{{error}}</p>
      {% endfor %}
      <p>
        {{form.email.label}}*
        {{ form.email }}
      </p>
      {% for error in form.email.errors%}
      <p>{{error}}</p>
      {% endfor %}
      <p>
        {{form.user.label}}
        {{ form.user }}
      </p>
      {% for error in form.user.errors%}
      <p>{{error}}</p>
      {% endfor %}
        {{form.lat}}
        {{form.long}}

      <p>* Campo requerido</p>
      <div class="map-container">
      <div id="mapid"></div>
      </div>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
      <a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
    </p>
  </form>
{% endblock %}