{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Denuncias</h1>
<a href="{{ url_for('home') }}" class="botones btn btn-sm">Volver</a>
{% if has_permission('denuncias_new') %}
<a href="{{ url_for('denuncia_new') }}" class="botones btn btn-sm">Crear denuncia</a>
{% endif %}
<a href="{{ url_for('denuncia_tracking') }}" class="botones btn btn-sm">Mis Seguimientos</a>

<form action="{{ url_for('denuncia_search',title=title,state=state,previous=previous,later=later ) }}" method="GET"> 
  <input type="text" name="title">
  <select name="state">
    <option value="" selected>Seleccione una opcion</option>
    <option value="sin_confirmar">Sin confirmar</option>
    <option value="en_curso">En curso</option>
    <option value="resuelta">Resuelta</option>
    <option value="cerrada">Cerrada</option>
  </select>
  <label for="previous">Fecha de comienzo</label>
  <input type="date" name="previous" id="previous">
  <label for="later">Fecha de fin</label>
  <input type="date" name="later" id="later">
  <p>
    <input type="submit" class="botones btn btn-sm" value="Buscar">
  </p>
</form>


{% if denuncias.items %}
<table class="table table-sm">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Categoria</th>
        <th>Fecha de creacion</th>
        <th>Estado</th>
        <th>Email</th>
        <th>Usuario Asignado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for denuncia in denuncias.items %}
      <tr>
        <td> {{ denuncia.title }} </td>
        <td> {% if denuncia.category!=None %}{{ denuncia.category.name }}
          {% else %}  Sin asignar {% endif %}</td>
        <td> {{ denuncia.created_at.strftime('%d-%m-%Y') }} </td>
        <td> {{ denuncia.state.value }}</td>
        <td> {{ denuncia.email }} </td>
        <td> {% if denuncia.assigned_to!=None %}{{ denuncia.user_assign.email }}
          {% else %}  Sin asignar {% endif %}</td>
        <td> 
          {% if has_permission('denuncias_show') %}
            <a href="{{url_for('denuncia_show', id=denuncia.id) }}" class="btn btn-sm btn-success"> Ver detalle <i class="glyphicon glyphicon-info"></i></a>
          {% endif%}
          {% if has_permission('denuncias_update') and denuncia.state.name!="cerrada" and denuncia.state.name!="resuelta" %}
            <a href="{{url_for('denuncia_edit', id=denuncia.id) }}" class="btn btn-sm btn-info"> Editar <i class="glyphicon glyphicon-info" ></i></a>
          {% endif%}
          {% if has_permission('denuncias_destroy') %}
            <a href="{{url_for('denuncia_delete', id=denuncia.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('Está seguro que desea eliminar esta denuncia');"> Eliminar <i class="glyphicon glyphicon-trash" ></i></a>
          {% endif%}
        </td>
    </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
    <div class="container">
      <div class="row justify-content-center">
        <h1> No se encontraron Resultados</h1>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <nav aria-label="pagination_table">
      <ul class="pagination">
          {% for page_num in denuncias.iter_pages() %}
  
              {% if page_num %}
  
                  {%if denuncias.page != page_num %}
                      {% if filter == 1 %}
                          <li class="page-item" >
                              <a class="page-link" href="{{ url_for('denuncia_search', page=page_num, title=title,state=state,previous=previous,later=later ) }}">{{page_num}}</a>
                            </li>
                      {% else %}
                      <li class="page-item" >
                          <a class="page-link" href="{{url_for('denuncia_index', page=page_num)}}">{{page_num}}</a>
                      </li>
                      {% endif %}
                  {% else %}
                  <li class="page-item disabled" >
                  <a class="page-link" href="#">{{page_num}}</a>
                  </li>
                  {%endif%}
  
              {% else %}
              {%endif%}
  
          {% endfor%}
      </ul>
      </nav>
  </div>  
{% endblock %}