{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center">
  <h1>Denuncias</h1>
</div>
<br>
<div class="row justify-content-center align-items-center">

  <div class="form-group">
    {% if has_permission('denuncias_new') %}
    <a href="{{ url_for('denuncia_new') }}" class="botones btn btn-sm">Crear denuncia</a>
    {% endif %}
    {% if has_tracking() %}
    <a href="{{ url_for('denuncia_tracking') }}" class="botones btn btn-sm">Mis Seguimientos</a>
    {% endif %}
  </div>
  <form action="{{ url_for('denuncia_search',title=title,state=state,previous=previous,later=later ) }}" method="GET"> 
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-auto">
      <input type="text" name="title">
    </div>
    <div class="col-sm-auto">
      <p>
        <input type="submit" class="botones btn btn-sm" value="Buscar">
      </p>
    </div>
    <div class="col-sm-auto">
      <select name="state">
      <option value="" selected>Seleccione una opcion</option>
      <option value="sin_confirmar">Sin confirmar</option>
      <option value="en_curso">En curso</option>
      <option value="resuelta">Resuelta</option>
      <option value="cerrada">Cerrada</option>
    </select>
    </div>
    <div class="col-sm-auto">
    <label for="previous">Fecha de comienzo</label>
    <input type="date" name="previous" id="previous">
    </div>
    <div class="col-sm-auto">
    <label for="later">Fecha de fin</label>
    <input type="date" name="later" id="later">
    </div>
    </div>
  </div>
</form>
</div>

{% if denuncias.items %}
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Fecha de creacion</th>
        <th scope="col">Estado</th>
        <th scope="col">Email del denunciante</th>
        <th scope="col">Usuario Asignado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for denuncia in denuncias.items %}
      <tr>
        <td data-label="Titulo">  <a href="{{url_for('denuncia_show', id=denuncia.id) }}"> {{ denuncia.title }}</a> </td>
        <td data-label="Categoría"> {% if denuncia.category!=None %}{{ denuncia.category.name }}
          {% else %}  Sin asignar {% endif %}</td>
        <td data-label="Fecha de creacion"> {{ denuncia.created_at.strftime('%d-%m-%Y') }} </td>
        <td data-label="Estado"> {{ denuncia.state.value }}</td>
        <td data-label="Email del denunciante"> {{ denuncia.email }} </td>
        <td data-label="Usuario asignado"> {% if denuncia.assigned_to!=None %}{{ denuncia.user_assign.email }}
          {% else %}  Sin asignar {% endif %}</td>
        <td data-label="Acciones"> 
          {% if has_permission('denuncias_update') and denuncia.state.name!="cerrada" and denuncia.state.name!="resuelta" %}
            <a href="{{url_for('denuncia_edit', id=denuncia.id) }}" class="btn btn-sm btn-info"> Editar <i class="glyphicon glyphicon-info" ></i></a>
          {% endif%}
          {% if has_permission('denuncias_destroy') %}
            <a href="{{url_for('denuncia_delete', id=denuncia.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('Está seguro que desea eliminar esta denuncia');"> Eliminar <i class="glyphicon glyphicon-trash" ></i></a>
          {% endif%}
        </td>
    </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
    <div class="container">
      <div class="row justify-content-center">
        <h1> No se encontraron Resultados</h1>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <nav aria-label="pagination_table">
      <ul class="pagination">
          {% for page_num in denuncias.iter_pages() %}
  
              {% if page_num %}
  
                  {%if denuncias.page != page_num %}
                      {% if filter == 1 %}
                          <li class="page-item" >
                              <a class="page-link" href="{{ url_for('denuncia_search', page=page_num, title=title,state=state,previous=previous,later=later ) }}">{{page_num}}</a>
                            </li>
                      {% else %}
                      <li class="page-item" >
                          <a class="page-link" href="{{url_for('denuncia_index', page=page_num)}}">{{page_num}}</a>
                      </li>
                      {% endif %}
                  {% else %}
                  <li class="page-item disabled" >
                  <a class="page-link" href="#">{{page_num}}</a>
                  </li>
                  {%endif%}
  
              {% else %}
              {%endif%}
  
          {% endfor%}
      </ul>
      </nav>
  </div>  
{% endblock %}