{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

 <script type="module" src="{{ url_for('static', filename='js/denuncias/new/new.js')}}"></script>
{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center">
  <h1>Crear Denuncia</h1>
  </div>
  <form action="{{ url_for('denuncia_create') }}" method="POST" id="create-denuncia">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% include "denuncias/form.html" %}
  </form>

{% endblock %}
