{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
<div class="row"> 
    <div class="col">
  <h1>Detalle de la denuncia</h1>
      <div>
        <p>Título: {{ denuncia.title }} </p>
        <p>Categoría: {% if denuncia.category!=None %}{{ denuncia.category.name }}
          {% else %}  Sin asignar {% endif %}</p>
        <p>Descripción: {{ denuncia.description }}</p>
        <p>Estado: {{ denuncia.state.value }}</p>
        <p>Asignada al usuario: {{ usuario.email }}</p>
        <h3>Datos del denunciante:</h3>
        <p>Nombre del denunciante: {{ denuncia.firstname }}</p>
        <p>Apellido del denunciante: {{ denuncia.lastname }}</p>
        <p>Teléfono del denunciante: {{ denuncia.tel }}</p>
        <p>Email del denunciante: {{ denuncia.email }}</p>
        <div class="map-container">
            <iframe id="mapid" src="https://maps.google.com/maps?q={{ denuncia.lat }},{{ denuncia.long }}&hl=es&z=14&amp;output=embed"></iframe>
        </div>
      </div>
</div>
  <div class="col" >
    {% include "seguimientos/index.html" %}
  </div>
</div>
</div>
  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}
