{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

 <script type="module" src="{{ url_for('static', filename='js/show.js')}}"></script>
{% endblock %}
{% block content %}
<div class="container">
<div class="row"> 
    <div class="col">
  <h1>Detalle de la denuncia</h1>
      <div>
        <p>Título: {{ denuncia.title }} </p>
        <p>Categoría: {% if denuncia.category!=None %}{{ denuncia.category.name }}
          {% else %}  Sin asignar {% endif %}</p>
        <p>Descripción: {{ denuncia.description }}</p>
        <p>Estado: {{ denuncia.state.value }}</p>
        <p>Asignada al usuario: {{ usuario.email }}</p>
        <h3>Datos del denunciante:</h3>
        <p>Nombre del denunciante: {{ denuncia.firstname }}</p>
        <p>Apellido del denunciante: {{ denuncia.lastname }}</p>
        <p>Teléfono del denunciante: {{ denuncia.tel }}</p>
        <p>Email del denunciante: {{ denuncia.email }}</p>
        <hidden id="lat" value="{{denuncia.lat}}"></hidden>
        <hidden id="long" value="{{denuncia.long}}"></hidden>
        <div class="map-container">
          <div id="mapid" class="float-end"></div>
        </div>
      </div>
</div>
  <div class="col" >
    {% include "seguimientos/index.html" %}
  </div>
</div>
</div>
  <a href="{{ url_for('home') }}" class="link">Volver</a>
{% endblock %}
