{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Denuncias asignadas a {{get_username()}}</h1>
<a href="{{ url_for('home') }}" class="link">Home</a>
{% if has_permission('denuncias_new') %}
<a href="{{ url_for('denuncia_new') }}" class="link">Crear denuncia</a>
{% endif %}
<table class="table table-sm">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Categoria</th>
        <th>Fecha de creacion</th>
        <th>Estado</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for denuncia in denuncias.items %}
      <tr>
        <td> {{ denuncia.title }} </td>
        <td> {% if denuncia.category!=None %}{{ denuncia.category.name }}
          {% else %}  Sin asignar {% endif %}</td>
        <td> {{ denuncia.created_at.strftime('%d-%m-%Y') }} </td>
        <td> {{ denuncia.state.value }}</td>
        <td> {{ denuncia.email }} </td>
        <td> 
          {% if has_permission('denuncias_show') %}
            <a href="{{url_for('denuncia_show', id=denuncia.id) }}" class="btn btn-sm btn-success"> Ver detalle <i class="glyphicon glyphicon-info" ></i></a>
          {% endif%}
          {% if has_permission('denuncias_update')  and denuncia.state.name!="cerrada" and denuncia.state.name!="resuelta" %}
            <a href="{{url_for('denuncia_edit', id=denuncia.id) }}" class="btn btn-sm btn-info"> Editar <i class="glyphicon glyphicon-info" ></i></a>
          {% endif%}
          {% if has_permission('denuncias_update')  and denuncia.state.name!="cerrada" and denuncia.state.name!="resuelta" %}
          <a href="{{url_for('seguimiento_new', id=denuncia.id) }}" class="btn btn-sm btn-info"> Realizar seguimiento <i class="glyphicon glyphicon-info" ></i></a>
          {% endif%}
          {% if has_permission('denuncias_destroy') %}
            <a href="{{url_for('denuncia_delete', id=denuncia.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('Está seguro que desea eliminar esta denuncia');">Eliminar <i class="glyphicon glyphicon-trash" ></i></a>
          {% endif%}
        </td>
    </tr>
      {% endfor %}
    </tbody>
    </table>
<!-- previous page -->
{% if denuncias.has_prev %}
<li>
  <a href="{{ url_for('denuncia_tracking', page=denuncias.prev_num) }}">Anterior</a>
</li>
{% endif %}


<!-- next page -->
{% if denuncias.has_next %}
<li>
  <a href="{{ url_for('denuncia_tracking', page=denuncias.next_num) }}">Siguiente</a>
</li>
{% endif %}
{% endblock %}