{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Denuncias asignadas a {{get_username()}}</h1>
<br>
<a href="{{ url_for('denuncia_index') }}" class="botones btn btn-sm">Volver</a>
{% if has_permission('denuncias_new') %}
<a href="{{ url_for('denuncia_new') }}" class="botones btn btn-sm">Crear denuncia</a>
{% endif %}
<br>
<br>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Fecha de creacion</th>
        <th scope="col">Estado</th>
        <th scope="col">Email del denunciante</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for denuncia in denuncias.items %}
      <tr>
        <td data-label="Titulo"> <a href="{{url_for('denuncia_show', id=denuncia.id) }}"> {{ denuncia.title }}</a> </td>
        <td data-label="Categoría"> {% if denuncia.category!=None %}{{ denuncia.category.name }}
          {% else %}  Sin asignar {% endif %}</td>
        <td data-label="Fecha de creacion"> {{ denuncia.created_at.strftime('%d-%m-%Y') }} </td>
        <td data-label="Estado"> {{ denuncia.state.value }}</td>
        <td data-label="Email del denunciante"> {{ denuncia.email }} </td>
        <td data-label="Acciones"> 
          {% if has_permission('denuncias_update')  and denuncia.state.name!="cerrada" and denuncia.state.name!="resuelta" %}
            <a href="{{url_for('denuncia_edit', id=denuncia.id) }}" class="btn btn-sm btn-info"> Editar <i class="glyphicon glyphicon-info" ></i></a>
          {% endif%}
          {% if has_permission('denuncias_update')  and denuncia.state.name!="cerrada" and denuncia.state.name!="resuelta" %}
          <a href="{{url_for('seguimiento_new', id=denuncia.id) }}" class="btn btn-sm btn-info">Seguimiento <i class="glyphicon glyphicon-info" ></i></a>
          {% endif%}
          {% if has_permission('denuncias_destroy') %}
            <a href="{{url_for('denuncia_delete', id=denuncia.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('Está seguro que desea eliminar esta denuncia');">Eliminar <i class="glyphicon glyphicon-trash" ></i></a>
          {% endif%}
        </td>
    </tr>
      {% endfor %}
    </tbody>
    </table>
    <div class="container">
      <nav aria-label="pagination_table">
      <ul class="pagination">
          {% for page_num in denuncias.iter_pages() %}
  
              {% if page_num %}
  
                  {%if denuncias.page != page_num %}
                      <li class="page-item" >
                          <a class="page-link" href="{{url_for('denuncia_tracking', page=page_num)}}">{{page_num}}</a>
                      </li>
                  {% else %}
                  <li class="page-item disabled" >
                  <a class="page-link" href="#">{{page_num}}</a>
                  </li>
                  {% endif %}
                  {% endif %}
  
          {% endfor%}
      </ul>
      </nav>
  </div>  
{% endblock %}