{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Editar usuario</h1>
  <form action="{{ url_for('user_update') }}" method="POST">
    <input type="hidden" id='csrf_token' name="csrf_token" value="{{ csrf_token() }}"/>
    {{ form.id }}
    {% include "user/form.html" %}
      <input type="submit" value="Editar">
      <a href="{{ url_for('user_index') }}" class="link">Volver</a>
    </p>
  </form>
{% endblock %}
