{% extends "layout.html" %}
{% block title %}Mi perfil{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center">
  <h1>Editar mi perfil</h1>
</div>
<div class="row justify-content-center align-items-center"> 
  <div class="row justify-content-center align-items-center h-100">
    <div class="col align-items-center" >
      <form action="{{ url_for('user_update_profile') }}" method="POST">
        {{form.csrf_token}}
        {{form.id}}
        <div class="form-group">
          <p>
            {{ form.firstname.label }}* {{ form.firstname(class="form-control") }}
          </p>
          {% for error in form.firstname.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        </div>
        <div class="form-group">
          <p>
            {{ form.lastname.label }}* {{ form.lastname(class="form-control") }}
          </p>            
          {% for error in form.lastname.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        </div>  
        <div class="form-group">
          <p>
            {{ form.password.label }} {{ form.password(class="form-control") }}
          </p>
          {% for error in form.password.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        </div>
        <div class="form-group">
          <p>
            {{ form.confirm.label }} {{ form.confirm(class="form-control") }}
          </p>
          {% for error in form.confirm.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        </div>
        <div class="form-group">
          <p>
            {{ form.rol.label }}*
          </p>  
          <div class="form-group text-center">
            {% for rol in form.rol %}
              {{rol}}{{rol.label}}
            {% endfor %}
          </div>
          {% for error in form.rol.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        </div>
        <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col">
                <input class="btn btn-primary btn-sm float-left" type="submit" value="Guardar">
              </div>
              <div class="col">
                <a href="{{ url_for('home') }}" class="btn btn-secondary btn-sm float-right">Volver</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
