{% extends "layout.html" %}
{% block title %}Mi perfil{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Editar mi perfil</h1>
  {% for field in form.errors %}
  {% for error in form.errors[field] %}
      <div class="alert alert-error">
          <strong>Error! {{field}} {{error}} </strong> 
      </div>
  {% endfor %}
  {% endfor %}
  <form action="{{ url_for('user_update_profile') }}" method="POST">
    {{form.csrf_token}}
      <div>
        {{form.id}}
      <p>Nombre {{ form.firstname }}</p>
      <p>Apellido {{ form.lastname }}</p>
      <p>Contraseña {{ form.password }}</p>
      <p>Confirmacion {{ form.confirm }}</p>
      </div>
      <input type="submit" value="Guardar">
      <a href="{{ url_for('home') }}" class="link">Volver</a>

    </p>
  </form>
{% endblock %}
