{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Crear seguimiento </h1>
<a href="{{ url_for('home') }}" class="link">Volver</a>
  <form action="{{ url_for('seguimiento_create', id=denuncia.id) }}" method="POST" id="create_seguimiento">
    <input type="hidden" id='csrf_token' name="csrf_token" value="{{ csrf_token() }}"/>

    <p>
      <p>
        {{form.description.label}}*
        {{ form.description }}
      </p>
      {% for error in form.description.errors%}
      <p>{{error}}</p>
    {% endfor %}</p>
      <p>
        <p>
          {{form.state.label}}*
          {{ form.state }}
        </p>
        {% for error in form.state.errors%}
        <p>{{error}}</p>
       {% endfor %}</p>
        <p>* Campo requerido</p>
        <input type="submit" value="Crear">
        <button type="reset">Limpiar</button>
        <a href="{{ url_for('seguimiento_index', id=denuncia.id) }}" class="link">Volver</a>
      </p>
    </form>
{% endblock %}
  