{% extends "layout.html" %}
{% block title %}Denuncias{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <form action="{{ url_for('seguimiento_create', id=denuncia.id) }}" method="POST" id="create_seguimiento">
    <div class="container">
    <input type="hidden" id='csrf_token' name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="container">
    <h1>Crear seguimiento </h1>
    <h3> Denuncia <strong>{{denuncia.title}}</strong> asignada a  <strong>{{user.username}}</strong></h3>
    <div class="row-1">
      <div class="col-4">
        {{ form.description.label }}*
        {{ form.description(class="form-control") }}
        {% for error in form.description.errors %}
        <p class="alert alert-danger">{{error}}</p>
        {% endfor %}
      </div>
      </div>
      <p>* Campo requerido</p>
      <div class="form-group">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <input class="btn btn-primary btn-sm float-left" type="submit" value="Guardar">
            </div>
            <div class="col-1">
              <a href="{{ url_for('home') }}" class="btn btn-secondary btn-sm float-right">Volver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </form>
{% endblock %}
  