{% extends "layout.html" %}
{% block title %}Recorridos de evacuación{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center">
  <h1>Recorridos de evacuación</h1>
</div>
<br>
<div class="row justify-content-center align-items-center">
  <div class="form-group">
    {% if has_permission('recorridos_new') %}
    <a href="{{ url_for('recorridos_new') }}" class="botones btn btn-sm">Nuevo recorrido</a>
    {% endif %}
  </div>
  
  <form action="{{ url_for('recorridos_search', name=name, active=active) }}" method="GET"> 
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-auto">
            <input type="text" name="name">
          </div>
          <div class="col-sm-auto">  
            <p>
              <input type="submit" class="botones btn btn-sm" value="Buscar">
            </p>
          </div>
          <div class="col-sm-auto">
            <p>Filtrar por</p>
          </div>
          <div class="col-sm-auto">       
            <input type="radio" name="active" value="publicado"> <label>Publicado</label>
          </div>
          <div class="col-sm-auto">  
            <input type="radio" name="active" value="despublicado"> <label>Despublicado</label>
          </div>
        </div>
    </div>
  </form>
</div>

  {% if recorridos.items %}
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for recorrido in recorridos.items %}
      <tr> <!-- ver de poner id o email como id del tr de cada user-->
        <td> <a href="{{ url_for('recorridos_show', name=recorrido.name) }}"> {{ recorrido.name }} </a> </td>
        <td> {% if recorrido.state %}
               Publicado 
             {% else %}
               Despublicado 
             {% endif %}
        </td>   
        <!-- mostrar acciones a realizar segun permisos del usuario actual -->    
        <td>
          <div class="row">
            <div class="column mx-1">
              {% if has_permission('recorridos_edit') %}
              <form action="{{ url_for('recorridos_edit') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input name="id" type="hidden" value="{{ recorrido.id }}">
                <button class="btn btn-sm btn-info" type="submit" > Editar <span class="material-icons md-24"></span> </button> 
              
              </form>
              {% endif %}
            </div>
            {% if has_permission('recorridos_publicate') %}
            <div class="column mx-1">
              {% if recorrido.state %}
              <a class="btn btn-sm btn-secondary" href="{{ url_for('recorridos_publicate', id=recorrido.id) }}" onclick="return confirm('Está seguro que desea despublicar este recorrido?');"> despublicar </a> 
              {% else %}
              <a class="btn btn-sm btn-success" href="{{ url_for('recorridos_publicate', id=recorrido.id) }}" onclick="return confirm('Está seguro que desea publicar este recorrido?');"> publicar </a> 
              {% endif %}
            </div>
            {% endif %}
            
            {% if has_permission('recorridos_destroy') %}
            <div class="column mx-1">
              <form action="{{ url_for('recorridos_delete') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input name="id" type="hidden" value="{{ recorrido.id }}">
                <button class="btn btn-sm btn-danger remove" type="submit" onclick="return confirm('Está seguro que desea eliminar este recorrido?')"> Borrar <span class="material-icons"></span> </button> 
              </form>
            </div>
            {% endif %}
          </div>
        </td>       
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {#Mensaje En caso de que la busqueda no traiga resultados#}
  {% else %}
  <div class="container">
    <div class="row justify-content-center">
      <h1> No se encontraron Resultados </h1>
    </div>
  </div>
  {% endif %}

  <!-- tabla de paginación -->
  {% from "paginate_macro.html" import show_paginate_table%}

  {{ show_paginate_table("recorridos", recorridos, filter, name, active) }}
  
{% endblock %}