{% extends "layout.html" %}
{% block title %}Recorridos de evacuación{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

 <script type="module" src="{{ url_for('static', filename='js/recorridos_evacuacion/new/index.js')}}"></script>
{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center">

  <h1>Crear un recorrido de evacuación</h1>
</div>
<div class="row justify-content-center align-items-center"> 
  <div class="row justify-content-center align-items-center h-100">
    <div class="col align-items-center" >
      <form action="{{ url_for('recorridos_create') }}" method="POST" id="create-form">
        <input type="hidden" id='csrf_token' name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="form-group">
          <p>{{form.name.label}}* {{ form.name(class="form-control") }}</p>
          {% for error in form.name.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        </div>
        <div class="form-group">
          <p>{{form.description.label}} {{ form.description(class="form-control", cols="35", rows="10") }}</p>
          {% for error in form.description.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        </div>
        {{ form.coordinates }}
        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lng" id="lng">
        <div class="form-group">
          <div class="map-container">
            <div id="mapid"></div>
          </div>
        </div>
        <div class="form-group">
          <p>* Campo requerido</p> 
        </div>
        <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col">
                <input class="col-6 btn btn-primary btn-sm float-left" type="submit" value="Crear">
              </div>
              
              <div class="col">
                <a href="{{ url_for('recorridos_index') }}" class="col-6 btn btn-secondary btn-sm float-right">Volver</a>
              </div>
            </div>
          </div>
        </div>  
      </form>
    </div>
  </div>
</div>
<br>
{% endblock %}