<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- botones de editar, borrar -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- estilos de la pagina -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}
      <!-- mostrar nombre de usuario, rol con un select seleccionado en el rol por defecto, y botones correspondientes del nav:
      USUARIOS CONFIGURACION DEL SISTEMA PUNTOS DE ENCUENTRO .. MI PERFIL CERRAR SESIÓN -->
      {% if is_authenticated(session) %}
      {{ session["username"] }}
      {{ session["roles"] }}
      <select name="rol" value=" {{ session['roles'][0][1] }} ">
        {% for rol in session['roles'] %}
          <option value="{{ rol[0] }}">{{ rol[1] }}</option>
        {% endfor %}
      </select>
      {% endif %}
      {% endblock %}
    </div>
    <div id="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      Todos los derechos reservados.
      {% endblock %}
    </div>
  </body>
</html>
