<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- botones de editar, borrar -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- estilos de la pagina -->
    {% if is_authenticated(session) %}
      {% set css_private = session["config"]["css_private"] %} 
      <link rel="stylesheet" href="{{ url_for('static', filename=css_private) }}">   
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}
      <!-- mostrar nombre de usuario, rol con un select seleccionado en el rol por defecto, y botones correspondientes del nav:
      USUARIOS CONFIGURACION DEL SISTEMA PUNTOS DE ENCUENTRO .. MI PERFIL CERRAR SESIÓN -->
      {% if is_authenticated(session) %}
        {{ session["username"] }}
        {% if session["roles"].keys()|length > 1 %}
          <form action="{{ url_for('user_change_rol') }}" method="POST">
            <select name="rol" value=" {{ session['rol_actual'][0] }} " >
              {% for key, value in session['roles'].items() %}
                {% if key == session["rol_actual"][0] %}
                  <option value="{{ key }}" selected>{{ value }}</option>
                {% else %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <button class="btn btn-sm btn-info" type="submit">Cambiar rol</button>
            <!--<button class="btn btn-sm btn-info"><input type="submit"class="btn btn-sm btn-info" value="Editar"><i class="glyphicon glyphicon-pencil" display="table-cell"></i></button>-->
          </form>  
        {% else %}    
          {{ session["rol_actual"][1] }}          
        {% endif %}
      {% endif %}
      {% endblock %}
    </div>
    <div id="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      Todos los derechos reservados.
      {% endblock %}
    </div>
  </body>
</html>
